<header class="article-info clearfix">
  <h1 itemprop="name">
    <% if(item.link) { %>
      <a href="<%- item.link %>" target="_blank" title="<%= item.title %>"><%= item.title %></a><% } else { %>
      <a href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url"><%= item.title %></a><% } %>
  </h1>
  <p class="article-author">By
    <% if (theme.author.google_plus){ %>
      <a href="https://plus.google.com/<%- theme.author.google_plus %>?rel=author" title="<%= config.author %>" target="_blank" itemprop="author"><%= config.author %></a>
    <% } else { %>
      <a href="<%= config.url %>" title="<%= config.author %>"><%= config.author %></a>
    <% } %></p>
  <p class="article-time">
    <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished"><%= item.date.format(config.date_format) %></time>
    <% if (item.updated!=null) { %><%= __('updated') %>:<time datetime="<%= date_xml(item.updated) %>" itemprop="dateModified"><%= item.updated.format(config.date_format) %></time>
    <% } %>
  </p>
</header>