<% if (page.layout=='post'){ %>
 <%- partial('_partial/head') %>
  <body>
    <header>
      <%- partial('_partial/header') %>
    </header>
    <div id="container">
      <%- body %>
      <%- partial('_partial/sidebar',{item: page,table: true}) %>
    </div>
    <footer><%- partial('_partial/footer') %></footer>
    <%- partial('_partial/after_footer') %>
  </body>
</html>
<% } else if(page.layout=='page'){ %>
  <% if(page.source.match(/\.md$/)){ %>
    <%- partial('_partial/head') %>
      <body>
        <header>
          <%- partial('_partial/header') %>
        </header>
        <div id="container">
          <%- body %>
        </div>
        <footer><%- partial('_partial/footer') %></footer>
        <%- partial('_partial/after_footer') %>
      </body>
     </html>
     <% }else{ %>
    <%- page.content %>
  <% } %>
<% } else if(page.layout=='search'){ %>
 <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
        <%- partial('_partial/search')%>
      </div>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.layout=='tags'){ %>
 <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
          <%- partial('_partial/tags')%>
      </div>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.layout=='categories'){ %>
 <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
          <%- partial('_partial/categories')%>
      </div>
      <footer><%- partial('_partial/footer') %></footer>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.category!=null||page.tag!=null||page.archive!=null) { %>
  <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
        <%- body %>
      </div>
      <footer><%- partial('_partial/footer') %></footer>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else { %>
 <%- partial('_partial/head') %>
  <body>
    <header>
      <%- partial('_partial/header') %>
    </header>
    <div id="container">
      <%- body %>
      <%- partial('_partial/sidebar',{item: page,table: false}) %>
    </div>
    <footer><%- partial('_partial/footer') %></footer>
    <%- partial('_partial/after_footer') %>
  </body>
 </html>
<% } %>