<% if (site.tags.length){ %>
<div class="archiveslist">
	<p class="asidetitle"><%= __('tags') %></p>
		<ul class="archive-list">
		<% site.tags.sort('name').limit(20).each(function(item){ %>
			<li class="archive-list-item">
				<a class="archive-list-link" href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %><sup><%= item.posts.length %></sup></a>
			</li>
		<% }); %>
		</ul>
</div>
<% } %>