<section class="<%= item.layout %>" itemscope itemprop="blogPost">
  <% if (item.link) { %> 
    <a href="<%- item.link %>" target="_blank"> 
  <% } else{ %>
    <a href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url">
  <% } %>
    <h1 itemprop="name"><%= item.title %></h1>
    <% if (desc){ %>
     <% if(item.description){ %>
      <p itemprop="description" ><%- item.description %></p>
      <% } else if(item.excerpt){ %>
       <p itemprop="description" ><%= strip_html(item.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
      <% } else {%>
           <p itemprop="description" ><%= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
        <% } %>
    <% } %>
    <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished"><%= item.date.format(config.date_format) %></time>
  </a>
</section>