<div>
		<% if	(theme.imglogo.enable&&theme.imglogo.src){ %>
			<div id="imglogo">
				<a href="<%- config.root %>"><img src="<%- config.root %><%= theme.imglogo.src %>" alt="<%= config.title %>" title="<%= config.title %>"/></a>
			</div>
			<% } %>
			<div id="textlogo">
				<h1 class="site-name"><a href="<%- config.root %>" title="<%= config.title %>"><%= config.title %></a></h1>
				<h2 class="blog-motto"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
			</div>
			<div class="navbar"><a class="navbutton navmobile" href="#" title="<%= __('menu') %>">
			</a></div>
			<nav class="animated">
				<ul>
					<% for (var i in theme.menu){ %>
						<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
					<% } %>
				</ul>
			</nav>			
</div>
